html{
    font-size:62.5%;
}

/*Fonts*/
h1, h2, h3, h4, h5, h6, p, a, li{
    font-family:'Lato', Arial, Helvetica;
}

h1{
    font-size:3.2rem;
}

h2{
    font-size:2.8rem;
}

h3{
    font-size:2.6rem;
}

h4{
    font-size: 2.3rem;
}

h5{
    font-size:2rem;
    line-height:3rem;
}

p, li, body{
    font-size:2rem;
}

a:focus{
    outline: 0 !important;
}



@media(min-width:576px){
   h1{
    font-size:3rem;
    }

    h2{
        font-size:2rem;
    }

    h3{
        font-size:2rem;
    }

    p, li{
        font-size:1.25rem;
    } 
}
    
@media(min-width:768px){
    h1{
    font-size: 5rem;
    }

    h2{
        font-size:3.8rem;
    }

    h3{
        font-size:2.7rem;
    }

    p, li{
        font-size:2rem;
    }
}



body{
    margin-top:-6.7rem;
}

@media(min-width:992px){
    body{
        margin-top:-10rem;
    }
}

.navbar {
    padding:.7rem;  
    background: rgba(49, 49, 49, 1);
    
}

@media(min-width:992px){
    .navbar{
        background: rgba(49, 49, 49, 0);
        -webkit-transition: all 0.6s ease-out;
        -moz-transition: all 0.6s ease-out;
        -o-transition: all 0.6s ease-out;
        -ms-transition: all 0.6s ease-out;
        transition: all 0.6s ease-out; 
    }
    .navbar.scrolled {
        background: rgb(49, 49, 49);
    }
}



.navbar .navbar-collapse ul li a{
    color:white;
    font-size:2.6rem;
}


.navbar-brand>img{
    height:4.5rem;
}

@media(min-width:992px){
    .navbar-brand>img{
        height:7.6rem;
    }
}

.navbar-toggler{
    margin-top:.8rem;
}

.navbar-toggler>span{
    color:white;
    font-size:2.2rem;
}

.landing{
    height:100vh;
}

.technical{
    background-image: url(/assets/images/technical.jpg);
    background-size: cover;
    height: 100%;
}

.technical .row{
    height:100%;
    color:white;
}

.creative{
    background-image: url(/assets/images/creative-test-01.jpg);
    background-size: cover;
    height: 100%;
}

.creative .row{
    height:100%;
}

.wording{
    margin-top:-75vh;
}

.wording h1 span, .wording h2 span{
    color:white;
    background-color:rgba(52, 52, 52, 0.65);
    line-height:1.3;
}

.section{
    padding-bottom:6rem;
}

.section .header{
    padding:2.5rem 2.5rem;
}

@media(min-width:767px){
    .section .header{
        padding:2.5rem 5rem;
    }
}

/*About Section*/

.about{
    background: url(/assets/images/about.jpg) 90% 23%/cover no-repeat scroll;
}


@media(min-width:992px){
    .about{
        min-height:90vh;
        background-position: 90% 13%;
        background-attachment:fixed;
    }
}

.about h2{
    color:white;
}

.about-headline{
    color:white;
}

.about-blurb{
    color:white;
    background-color:rgba(52, 52, 52, 0.55);
    padding:1rem;
    box-shadow: 0rem 0rem 4.5rem rgba(52, 52, 52, 1);
    border-radius: .7rem;
}

/*Skills Section*/
.skill-section:nth-of-type(2), .skill-section:nth-of-type(3){
    margin-top:4rem;
}

.skill-section:nth-of-type(4), .skill-section:nth-of-type(5){
    margin-top:10rem;
    margin-bottom:5rem;
}

.skills h2{
    color:#313131;
}

.skill-section {
    text-align:center;
}

.skill-section hr{
    margin-left:4rem;
    margin-right:4rem;
}

.skill-section ul{
    list-style-type:none;
    text-align: center;
    padding:0;
}

.skill-section .fa{
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color: white;
    background-color: #44839A;
    padding: 1.5rem;
    border-radius: 4rem;
}

.skill-section h3{
    color:#44839A;
}


/*Portfolio Section*/
.portfolio{
    background-color:#313131;
}

.portfolio h2{
    color:white;
}

.portfolio-images{
    width:100%;
    margin:0;
}

@media(min-width:992px){
    .portfolio-images{
        width:80%;
        margin:0 auto;
    }
}

.portfolio-images>a{
    background: url(/assets/images/creative1.jpg) center/cover no-repeat;
    height:38.9rem;
    max-width:55.2rem;
    border: 1.2rem solid #313131;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #44839A;
}

.project:hover .overlay {
  opacity: 0.9;
}

.text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#floorcast{
    background: url(/assets/images/floorcast-logo.jpg) center/cover no-repeat;
}

#cchs{
    background: url(/assets/images/cchs.jpg) center/cover no-repeat;
}

#hongkong{
        background: url(/assets/images/portfolio/hongkong/hk-thumbnail.png) center/cover no-repeat;
}

#medicare{
    background: url(/assets/images/cigna-medicare.png) center/cover no-repeat;
}

#ifp{
    background: url(/assets/images/portfolio/ifp/ifp-thumbnail.jpg) center/cover no-repeat;
}

.modal-dialog{
    width: 100%;
    min-width: 100%;
    height: 100%;
    margin: 0;
    padding: 1.2rem;
}

.modal-content{    
    height: auto;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
    border-radius: 0;
    background-color:#313131;
    color:white;
}

.modal-body img{
    width:100%;
   /* height:100%;*/
}

.modal-header{
    border-bottom:0px;
    color:white;
}

.modal-header .title{
    margin:0 auto;
    border-bottom: 2px solid rgb(255,255,255);
    font-size:4rem;
    padding: 0 18%;
}

.modal-body .description{
    margin-top:3rem;
}

.modal-body .specs{
    margin-top:5rem;
}

.modal-body td:nth-child(2){
    padding-left:4rem;
}

.modal-header button{
    opacity:1;
}

.modal-header button:hover{
    opacity:0.5;
}

.modal .fa{
    color:white;
    font-size:3.6rem;
}


/*Testimonials Section*/
.testimonials{
    background: url(/assets/images/testimonials.jpg) center/cover no-repeat;
}

.testimonials .header{
    color:white;
}

.testimonials .carousel-inner{
    width:75%;
    margin: 0 auto;
    height:40rem;
    transform:translateY(25%);
}

.testimonials .carousel-item p{
    color:white;
}

/*Contact Section*/
.contact{
    background-color:white;
}

.contact .info a h5 strong, .contact .info a:hover{
    color:#313131;
    text-decoration:none;
}

.contact .link{
    color: rgb(68,131,154);
    text-decoration: underline;
}



.info{
    text-align:center;
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
}

.fa-circle{
    color: #44839A;
}

.form-column{
    margin-top:4rem;
    margin-bottom:4rem;
}

.form-control{
     border: .2rem solid rgba(68,131,154, 0.5);
}

.form-control:focus{
    border: .2rem solid rgba(52,52,52,0.5);
}

form .form-group input, form .form-group textarea{
    padding:1rem;
    border-radius:0.5rem;
}

.submit{
    background-color: #44839A;
    color:white;
    border: .1rem solid transparent;
    border-radius: 0.5rem;
    padding: 0.5rem 1.85rem;
    margin-top: 1rem;
}


/*Footer*/
.footer{
    background-color:rgb(52, 52, 52);
    height:10rem;
}